<!DOCTYPE html>
<html>
<head>
    <title>Facebook Friends Feed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link href="{{ url_for('changes_feed') }}" rel="alternate" title="Recent changes to your Facebook friends list"
          type="application/atom+xml">
    <meta name="facebook_app_id" content="{{ facebook_app_id }}">
</head>
<body>

<div class="container">
    <header class="row">
        <h1 class="col-xs-12">Facebook Friends Feed</h1>
    </header>
    <section class="row">
        <h2 class="col-xs-12">Status</h2>

        <p class="col-xs-12 alert bg-info text-info" id="login-status">Loading…</p>

        <div class="col-xs-12 hidden" id="login-container">
            <fb:login-button scope="user_friends" onlogin="statusChangeCallback();">
            </fb:login-button>
        </div>
    </section>
    <section class="row hidden" id="changes-container">
        <h2 class="col-xs-12">Changes so far</h2>
        <dl class="col-xs-12">
            <dt id="changes-button" class="btn btn-primary">See more</dt>
        </dl>
    </section>
</div>
<div id="fb-root"></div>

<script src="//connect.facebook.net/en_US/sdk.js"></script>
<script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>
